{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        body{
            background-image: url({{ asset('assets/img/eau.jpg') }});
            background-size: cover;
        }
    </style>
{% endblock %}

{% block title %}Demande de devis{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 id="demande_devis">Demande de devis </h1>
        <hr>

        {% for message in app.flashes('devi_success') %}
        <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {{ form_start(form) }}
        <div class="row  justify-content-center">
            <div class="col-3 md-6">{{ form_row(form.nom) }}</div>
            <div class="col-3 md-6">{{ form_row(form.prenom) }}</div>
            <div></div>
            <div class="col-3 md-6">{{ form_row(form.adresse) }}</div>
            <div class="col-3 md-6">{{ form_row(form.email) }}</div>
            <div></div>
            <div class="col-3 md-6">{{ form_row(form.phone) }}</div>
            <div class="col-3 md-6">{{ form_row(form.type) }}</div>
    <div></div>
            <div class="col-6 md-6">{{ form_row(form.interventionAt) }}</div>
            <div></div>
            <div class="col-3">{{ form_row(form.devisFile) }}</div>
            <div class="col-12 mt-3 validate"><button type="submit" class="btn btn-primary">Valider<i class="fa fa-check-circle"></i></button> </div>
        </div>


        {{ form_end(form) }}

    </div>
{% endblock %}

