
    {{ form_start(form) }}
    <div class="row">
    <div class="col-12 col-md-6">{{ form_row(form.title) }}</div>
    <div class="col-12 col-md-6"></div>
    <div class="col-12 col-md-6">{{ form_row(form.beginAt) }}</div>
    <div class="col-12 col-md-6">{{ form_row(form.endAt) }}</div>
     <div class="col-12">
         <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Valider</button>
     </div>


</div>
{{ form_end(form) }}